@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');


.form-search {
  margin: 0 auto;
  text-align: center;

  font: bold 13px sans-serif;
  max-width: 70%;
  position: relative;
}

.form-search input {
  width: 60%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 40px;
  border: 1px solid #b6c3cd;
  border-right: 0;
  color: #4e565c;
  outline: none;
  -webkit-appearance: none;
}

.form-search button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-search i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80a3bd;
}

#resultPage {
  display: none;
}

.button_div{
    text-align: center;
    margin: 2rem;
}

.back_btn {
  text-align: center;
  margin: 1rem;
  
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Layout For Smaller Screens */
img {
    display: block;
    margin: 0 auto 0 auto; /* Centred */
    width: 20rem;
  }
  
  /* Layout For Larger Screens */
  @media screen and (min-width: 40em) {
    img {
      padding: 0 2em 0 2em;
      width: 66.6%;
    }
  }

  h1{
      font-size: 25px;
      text-align: center;
  }

  #resultPage {
    line-height: 3rem;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f2ea;
    font-size: 18px;
  
    /* BG Noise */
    background-image: url("https://raw.githubusercontent.com/lucaskern/devilsdictionary/main/images/noise.png");
    border: 10px solid brown;
    box-sizing: content-box;
    
  }

  img {
    filter: sepia();
  }
  
  .permission{
    position: absolute;
    bottom: 2rem;
  }
